@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}

.announcement-slide {
  background: linear-gradient(
    90deg,
    rgba(149, 109, 194, 1),
    rgba(78, 73, 145, 1) 20%,
    rgba(185, 61, 70, 1) 100%
  );
}

.nav-link {
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #ae3f4f; 
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}
